.nav-principal {
    margin: 0 0 .5rem;

    .nav-link {
        color: #FFF;
        font-size: 2.5rem;
        font-weight: 300;
        letter-spacing: .02rem;
        color: #888;
        transition: .3s color;

        &:hover {
            color: #FFF;
        }

        &.active {
            color: #FFF;
        }

    }

    .nav-item {
        &:first-child {
            .nav-link {
                padding-left: 0;
                margin-left: -3px;
            }
        }
    }

}